<%= render 'users/list', user: @user, book: @book %>

<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>

<h2>Book detail</h2>

<table>
  <tbody>
      <tr>
        <td><%= image_tag @books.user.get_profile_image %></td>
        <td><%= link_to @books.title, book_path(@books.id) %></td>
        <td><%= @books.body %></td>
        <% if @books.user == current_user %>
          <td><%= link_to "Edit",edit_book_path(@books.id) %></td>
          <td><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
        <% end %>
      </tr>
  </tbody>
</table>